.dashboard-layout {
    display: flex;
    flex-flow: column;
    align-items: center;

    background: rgb(211,204,227);
    background: radial-gradient(circle at bottom right, rgba(201,214,255,1) 0%, rgba(226,226,226,1) 50%);
}

.dashboard-content-wrapper {
    min-height: 100vh;
}

.dashboard-content {
    margin-top: 80px;
}