.header-dashboard-container {

    position: fixed;
    width: 100%;

    height: 60px;

    display: flex;
    flex-flow: row;
    align-items: center;

    background: rgb(0,4,40);
    background: linear-gradient(71deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 50%);
}

.header-dashboard-container p {
    color: white;
}

.header-dashboard-container a {
    color: white;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.header-dashboard-container a:hover {
    color: rgb(190, 190, 190);
}


.left-buttons {
    margin-left: 20px;
    margin-right: auto;
}

.right-buttons {
    margin-left: auto;
    margin-right: 20px;
}

